.scroll-stack-scroller {
    height: 100vh;
    overflow-y: auto;
    overscroll-behavior: contain;
  }
  
  .scroll-stack-inner {
    padding: 20vh 5rem 50vh;
  }
  
  .scroll-stack-card {
    border-radius: 40px;
    margin: 30px 0;
    will-change: transform;
  }
  